#music {
	iframe {
		display: block;
	}

	#snitch-image {
		width: 100%;
	}

	#bandcamp {
		border: 0;
		width: 700px;
		height: 373px;
		width: 100%;
		max-width: 700px;

		//Small
		@media screen and (max-device-width: $small) {
			width: 100%;
		}
	}

	#links {
		list-style: none;
		text-align: center;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 10px;
		}
	}

	.other-bands {
		img {
			width: 100%;
		}

		a.band {
			display: block;
			cursor: pointer;
			color: inherit;
			text-decoration: none;

			&:hover {
				background-color: $grey;
			}
		}
	}
}
