$greenLighten3: rgb(104, 224, 110);
$greenLighten2: rgb(74, 194, 80);
$greenLighten1: rgb(60, 168, 66);
$green: rgb(40, 153, 46);
$greenDarken1: rgb(32, 139, 38);
$greenDarken2: rgb(29, 129, 34);
$greenDarken3: rgb(23, 117, 28);

$grey: #ddd;

$primaryLighten3: $greenLighten3;
$primaryLighten2: $greenLighten2;
$primaryLighten1: $greenLighten1;
$primary: $green;
$primaryDarken1: $greenDarken1;
$primaryDarken2: $greenDarken2;
$primaryDarken3: $greenDarken3;
